body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f3e5;
    color: #4b3832;
  }

  header {
    background: #fdfaf6;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .logo {
    font-size: 2rem;
    color: #6f4e37;
  }

  .menu-card {
    width: 18rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .menu-card:hover {
    transform: translateY(-5px);
  }

  .menu-card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }

  footer .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .container div {
    flex: 1 1 300px;
    margin: 10px;
  }

  footer h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
  }

  footer p {
    font-size: 0.9rem;
    line-height: 1.6;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }